<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
	<title>Uploaded Image</title>
</head>
<body>
	<header>
	
		<h2> Rice and Cereal Quality Detection </h2>
		
	
	</header>

	<div class="ml-container">

		<form action="" method="POST" enctype="multipart/form-data">
		<p>The uploaded image is here ! Click predict to publish results</p>
		<div class="formimage">
			<img src="{{ url_for('static', filename=value) }}">
		</div>
		<button type="submit" style="width: 80px; height: 35px;">Predict</button>

        
		
	</form>		
	</div>

</body>
</html>
